<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="text">Кафе Культура<br>Измерение социального эффекта</div>
  </div>

  <div class="mySlides fade">
    <%= image_tag 'photo_2.png' %>
  </div>

  <div class="mySlides fade">
    <div class="text">Трансляция Культуры в ненавязчивом формате Кафе</div>
  </div>

  <div class="mySlides fade">
    <div class="text">Третье место</div>
  </div>

  <div class="mySlides fade">
    <%= image_tag 'photo_3.png' %>
  </div>

  <div class="mySlides fade">
    <div class="text">Сопереживание горожанину</div>
  </div>

  <div class="mySlides fade">
    <%= image_tag 'photo_4-2.jpg' %>
  </div>

  <div class="mySlides fade">
    <%= image_tag 'photo_4-3.jpg' %>
  </div>

  <div class="mySlides fade">
    <div class="text">Задачи:</div>
  </div>

  <div class="mySlides fade">
    <div class="text">1.<br>Какая интернет-репрезентация нужна «третьему месту»?</div>
  </div>

  <div class="mySlides fade">
    <div class="text">2.<br>Как рекомендовать напиток в таком пространстве?</div>
  </div>

  <div class="mySlides fade">
    <div class="text">Данные:</div>
  </div>

  <div class="mySlides fade">
    <div class="text">POS + погода + GPS трафик + AdWords + распознавание звука</div>
  </div>

  <div class="mySlides fade">
    <div class="text">Линейные регрессионные модели</div>
  </div>

  <div class="mySlides fade">
    <div class="text">Группировка и классификация</div>
  </div>

  <div class="mySlides fade">
    <%= image_tag 'photo_7-4.jpg' %>
  </div>
  
  <div class="mySlides fade">
    <%= image_tag 'photo_7-3.jpg' %>
  </div>

  <div class="mySlides fade">
    <%= image_tag 'photo_7-5.jpg' %>
  </div>

  <div class="mySlides fade">
    <div class="text">Решение</div>
  </div>

  <div class="mySlides fade">
    <div class="text">Интернет вещание облако
Звук + POS данные + погода + ...</div>
  </div>

  <div class="mySlides fade">
    <div class="text">Великая удовлетворенная потребность</div>
  </div>

  <div class="mySlides fade">
    <%= image_tag 'photo_10.jpg' %>
  </div>

  <div class="mySlides fade">
    <%= image_tag 'photo_8.jpg' %>
  </div>

  <div class="mySlides fade">
    <div class="text">Благодарим за внимание</div>
  </div>

  <div class="mySlides fade">
    <%= image_tag 'photo_9.jpg' %>
  </div>

  <div class="mySlides fade">
    <div class="text">Ссылка на Github:</div>
  </div>

  <div class="mySlides fade">
    <div class="text">https://github.com/neoconstructivist/kafekultura-datathon</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
